@import 'global.scss';

.line {
	text-align: center;
	//height: 30px;
	line-height: 30px;
}

.line__item {
	input {
		width: 90%;
	}
}

.line__element {
	&:hover {
		background-color: $pale-grey;
	}
}

.line__block {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 30px;
}

.line_important {
	background-color: $pale-orange;
}

.line__status {
	color: $red;
}

.line__status_pale {
	color: $white;
	&:hover {
		cursor: pointer;
		color: $grey;
	}
}


.btn_line-edit {
	color: $blue;
	cursor: pointer;
	&:hover {
		color: lighten($blue, 10%);
	}
}

.btn_line-check {
	color: $green;
	cursor: pointer;
	&:hover {
		color: lighten($green, 10%);
	}
}

.btn_line-remove {
	color: $red;
	cursor: pointer;
	&:hover {
		color: lighten($red, 10%);
	}
}

.btn_line-settings {
	color: $grey;
	cursor: pointer;
	&:hover {
		color: lighten($grey, 10%);
	}
}

.btn_check {
	cursor: pointer;
	color: $green;
	&:hover {
		color: lighten($green, 10%);
	}
}