@import 'global.scss';

.line-setting-component {
	margin: 30px 0 0px 0;
	width: 100%;
	background-color: $pale-green;
}

.line-setting-component__header {
	i, svg {
		cursor: pointer;
		float: right;
		margin: 2px 5px 0 0;
		&:hover {
			color: $white;
		}
	}
}

.line__btn { 
	cursor: pointer;
	border: 2px solid $pale-green;
	@include transition(1s);
	&:hover {
		background-color: $white;
	}
	label {
		cursor: pointer;
		padding-right: 5px;
	}
}

.line__btn_unimportant {
	background-color: $white;
	&:hover {
		background-color: $pale-orange;
	}
}

.line__btn_important {
	background-color: $pale-orange;
}